/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Silkscreen";
  font-weight: 900;
  src:
    local("Silkscreen"),
    url(./fonts/Silkscreen-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Sora";
  font-weight: 900;
  src:
    local("Silkscreen"),
    url(./fonts/Sora-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  src:
    local("Silkscreen"),
    url(./fonts/Lato-Regular.ttf) format("truetype");
}

body {
  inset: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  animation: spin 4s linear infinite;
}

.static-container {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.social-icon {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.5s;
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  transition: opacity 0.5s;
  opacity: 0;
}
