@tailwind base;
@tailwind components;
@tailwind utilities;
  

@font-face {
    font-family: 'Silkscreen';
    font-weight: 900;
    src: local('Silkscreen'), url(./fonts/Silkscreen-Regular.ttf) format('truetype');
}

body {
    inset: 0;
    background-color: #091922;
    overflow-y: hidden;
}


